# Copy to .env.deploy.local. Never commit the local file.
ALIYUN_PROFILE=pocket-gallery
ALIYUN_REGION=cn-shanghai
ALIYUN_INSTANCE_ID=i-xxxxxxxxxxxxxxxxx
CHINA_SITE_URL=https://www.pocket-gallery.cn
GITEE_PUSH_REMOTE=git@gitee.com:eurekaffeine/pocket-gallery.git
